.tarmoqlar {
  background-color: #d3d3d3;

  .tarmoqlar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;

    @media (max-width: 970px) {
      display: grid;
      text-align: center;
      // flex-direction: column;
      grid-template-columns: repeat(3, 50px);
      gap: 20px;
    }
  }
}
